@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "ABC Diatype", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "ABC Diatype", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  z-index: 99;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  background-color: #ffffffeb;
  border-bottom: 1px solid #dedcd8;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 32px;
  transition: all 0.3s;
  display: flex;
  position: fixed;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
a {
  background-color: #0000;
}

.neo-nav-logo-static {
  -webkit-text-stroke-color: #f8f8f8;
  width: 32px;
  height: 20px;
  transition: opacity 0.3s;
  position: static;
  top: 50%;
  left: 50%;
}
img {
  max-width: 100%;
  display: inline-block;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}

.nav-items-container {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex: 0 auto;
  justify-content: flex-start;
  align-self: flex-end;
  align-items: center;
  padding-top: 0;
  display: flex;
}

.nav-dark {
  color: black;
  -webkit-text-stroke-color: black;
  font-family: Abcdinamo Diatype, sans-serif;
}
.nav-item {
  position: relative;
}
.nav-item {
  opacity: 0.5;
  color: black;
  letter-spacing: 0.8px;
  text-indent: 0%;
  text-transform: uppercase;
  align-self: flex-end;
  height: 37px;
  font-family: ABC Diatype, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition: opacity 0.2s;
}
a {
  background-color: #0000;
}

 .w--current {
  border-bottom: 1px solid #41403c;
}
.nav-dark {
  color: black;
  -webkit-text-stroke-color: #41403c;
  font-family: Abcdinamo Diatype, sans-serif;
}
 .w--current {
  opacity: 1;
  position: relative;
}
.nav-item {
  position: relative;
}
.nav-item {
  opacity: 1;
  color: black;
  letter-spacing: 0.8px;
  text-indent: 0%;
  text-transform: uppercase;
  align-self: flex-end;
  height: 37px;
  font-family: ABC Diatype, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition: opacity 0.2s;
}
a {
  background-color: #0000;
}

.menu-button-container {
  display: none;
}

.menu-line {
  transition: transform 0.3s, background 0.3s;
}

.mobile-menu-container {
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
.mobile-menu-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu-container {
    transform: translate(100%);
  }
}

@media screen and (max-width: 767px) {
 .first-link {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 991px) {
 .first-link {
    border-top: 1px solid #dedcd8;
  }
}
@media screen and (max-width: 991px) {
  .mobile-menu-link {
    color: #41403c;
    border-bottom: 1px solid #dedcd8;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .lower-mobile-menu-links {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    display: flex;
  }
}
@media screen and (max-width: 991px) {
  .lower-mobile-menu-links {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-sub {
    opacity: 0.6;
    color: #142929;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
}
@media screen and (max-width: 991px) {
  .mobile-menu-sub {
    opacity: 0.6;
    color: #142929;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .header-container {
    padding: 18px 32px;
  }
}

@media screen and (max-width: 991px) {
  .nav-items-container,
  .nav-item {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .nav-items-container,
  .nav-item {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .menu-button-container {
    grid-column-gap: 5.3px;
    grid-row-gap: 5.3px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 24px;
    display: flex;
  }
}
@media screen and (max-width: 991px) {
  .menu-line {
    background-color: #41403c;
    border-radius: 100px;
    width: 100%;
    height: 1.5px;
    padding-bottom: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .nav-items-container,
  .nav-item {
    display: none;
  }
}
